{% extends "base.html" %} {% load static %} {% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %} {% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center">Shopping Bag</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-1"></div>
    {% if bag_items %}
    <div class="col-7 border border-1">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Product Info</th>
              <th scope="col"></th>
              <th scope="col">Price</th>
              <th scope="col">Quantity</th>
              <th scope="col">Subtotal</th>
            </tr>
          </thead>
          <tbody>
            {% for item in bag_items %}
            <tr>
              <td>
                <img
                  src="{{ item.product.image.url }}"
                  class="img-fluid img-thumbnail rounded-0"
                  alt="{{ item.product.lamptitle }}"
                  style="max-width: 100px"
                />
              </td>
              <td>
                <p>{{ item.product.lamptitle }}</p>
                <p>{{ item.product.sku | upper }}</p>
              </td>
              <td>
                <p>£{{ item.product.price }}</p>
              </td>
              <td>
                <form
                  class="form quantity_form"
                  method="POST"
                  action="{% url 'adjust_bag' item.item_id %}"
                >
                  {% csrf_token %}
                  <div class="input-group input-group-sm">
                    <button
                      class="input-group-text decrement-qty rounded-0"
                      data-item_id="{{ item.item_id }}"
                      id="decrement-qty_{{ item.item_id }}"
                    >
                      <i class="fa-solid fa-minus fa-xs"></i>
                    </button>
                    <input
                      type="number"
                      class="form-control form-control-sm qty_input rounded-0"
                      name="quantity"
                      value="{{ item.quantity }}"
                      min="1"
                      max="99"
                      data-item_id="{{ item.item_id }}"
                      id="id_qty_{{ item.item_id }}"
                    />
                    <button
                      class="input-group-text increment-qty rounded-0"
                      data-item_id="{{ item.item_id }}"
                      id="increment-qty_{{ item.item_id }}"
                    >
                      <i class="fa-solid fa-plus fa-xs"></i>
                    </button>
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <a class="text-info update-link"><small>Update</small></a>
                    </div>
                    <div class="col-6 text-end">
                      <a
                        class="text-danger remove-item"
                        id="remove_{{ item.item_id }}"
                        data-size="{{ item.size }}"
                        ><small>Remove</small></a
                      >
                    </div>
                  </div>
                </form>
              </td>
              <td>
                <p>£{{ item.product.price }}</p>
              </td>
            </tr>
            {% endfor %}
            <tr>
              <td colspan="5" class="text-end">
                <h6><strong>Bag Total: £{{ total|floatformat:2 }}</strong></h6>
                <h6>Delivery £{{ delivery|floatformat:2 }}</h6>
                <h4>
                  <strong>Grand Total: £{{ grand_total|floatformat:2 }}</strong>
                </h4>
                {% if free_delivery_delta > 0 %}
                <p class="text-danger">
                  You could get free delivery by spending just
                  <strong>£{{ free_delivery_delta }}</strong> more!
                </p>
                {% endif %}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row">
        <div class="col-9"></div>
        <div class="col-3">
          <a
            href="{% url 'products' %}"
            class="btn btn-primary w-100 rounded-0 bg-color-1 border-0"
            ><i class="fa-solid fa-chevron-left"></i> Keep Shopping</a
          >
        </div>
      </div>
    </div>
    <div class="col-3 border border-1">
      <h1>Stripe</h1>
    </div>
    {% else %}
    <div class="col-10">
      <h5 class="text-center pt-5 mt-5 mb-3">Your bag is currently empty</h5>
      <a class="text-center" href="{% url 'products' %}">
        <p>Keep Shopping</p>
      </a>
    </div>
    {% endif %}
    <div class="col-1"></div>
  </div>
</div>

{% endblock %} 
{% block postloadjs %} 
{{ block.super }} 
{% include 'products/includes/quantity_input_script.html' %}
<script>
  document.addEventListener("DOMContentLoaded", function () {

    // handles quantity adjustments
    const updateLink = document.querySelectorAll(".update-link");
    const quantityForm = document.getElementById("quantity_form");
    updateLink.forEach((link) =>
      link.addEventListener("click", (event) => {
        event.preventDefault();
        const form = link.closest('.quantity_form');
        form.submit();
      })
    );

    // handles product item removal
    const remove = document.querySelectorAll(".remove-item");

    remove.forEach((item) =>
      item.addEventListener("click", (event) => {
        const csrfToken = "{{ csrf_token }}";
        const itemID = item.getAttribute("id").split("remove_")[1];

        fetch(`/bag/remove/${itemID}/`, {
          method: "POST",
          body: `csrfmiddlewaretoken=${csrfToken}`,
          headers: {
            "Content-Type": "application/x-www-form-urlencoded",
            "X-CSRFToken": csrfToken,
          },
        }).then((res) => {
          if (res.status === 200) {
            location.reload();
          }
        });
      })
    );
  });
</script>
{% endblock %}
