{% extends "base.html" %} 
{% load static %} 
{% load bag_tools %} 
{% block page_header %}

<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %} 
{% block content %}

<div class="container-fluid">
    <div class="row mb-5">
        <div class="col-12">
            <h1 class="text-center">Shopping Bag</h1>
        </div>
    </div>

    <!-- Bag display for smaller screens -->
    <div class="row d-md-none">
        <div class="col-12 bg-body-secondary text-center">
            {% include "bag/bag-total.html" %}
        </div>
        {% for item in bag_items %}
        <div class="col-12">
            {% include "bag/product-image.html" %}
        </div>
        <div class="col-12">
            {% include "bag/product-info.html" %}
        </div>
        <div class="col-12">
            {% include "bag/quantity-form.html" %}
        </div>
        <div class="col-12">
            <p><strong>Price:</strong> £{{ item.product.price }}</p>
            <p>
                <strong>Subtotal:</strong> £{{ item.product.price | calc_subtotal:item.quantity }}
            </p>
        </div>
        {% endfor %}
    </div>

    <!-- Bag display for larger screens -->
    <div class="row">
        {% if bag_items %}
        <div class="col-1 d-none d-md-inline"></div>
        <div class="col-7 p-3 d-none d-md-inline">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Product Info</th>
                            <th scope="col"></th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Subtotal</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in bag_items %}
                        <tr>
                            <td>
                                {% include "bag/product-image.html" %}
                            </td>
                            <td>
                                {% include "bag/product-info.html" %}
                            </td>
                            <td>
                                <p>£{{ item.product.price }}</p>
                            </td>
                            <td>
                                {% include "bag/quantity-form.html" %}
                            </td>
                            <td>
                                <p>
                                    £{{ item.product.price | calc_subtotal:item.quantity }}
                                </p>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-3 bg-body-secondary text-center p-3 d-none d-md-inline">
            {% include "bag/bag-total.html" %}
        </div>
        <div class="col-1 d-none d-md-inline"></div>
        {% else %}
        <div class="col-1"></div>
        <div class="col-10 d-none d-md-inline">
            <h5 class="text-center pt-5 mt-5 mb-3">
                Your bag is currently empty
            </h5>
            <a class="text-center" href="{% url 'products' %}">
                <p>Keep Shopping</p>
            </a>
        </div>
        <div class="col-1"></div>
        {% endif %}
    </div>
</div>

{% endblock %} 
{% block postloadjs %} 
{{ block.super }} 
{% include 'products/includes/quantity_input_script.html' %}

<script>
    document.addEventListener("DOMContentLoaded", function () {
        // handles quantity adjustments
        const updateLink = document.querySelectorAll(".update-link");
        const quantityForm = document.getElementById("quantity_form");
        updateLink.forEach((link) =>
            link.addEventListener("click", (event) => {
                event.preventDefault();
                const form = link.closest(".quantity_form");
                form.submit();
            })
        );

        // handles product item removal
        const remove = document.querySelectorAll(".remove-item");

        remove.forEach((item) =>
            item.addEventListener("click", (event) => {
                const csrfToken = "{{ csrf_token }}";
                const itemID = item.getAttribute("id").split("remove_")[1];

                fetch(`/bag/remove/${itemID}/`, {
                    method: "POST",
                    body: `csrfmiddlewaretoken=${csrfToken}`,
                    headers: {
                        "Content-Type": "application/x-www-form-urlencoded",
                        "X-CSRFToken": csrfToken,
                    },
                }).then((res) => {
                    if (res.status === 200) {
                        location.reload();
                    }
                });
            })
        );
    });
</script>
{% endblock %}
