{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<section class="hero-section">
  <div class="container-fluid">
    <div class="row hero-row">
      <div class="col position-relative z-0 p-0 m-0">
        <img src="{% static '../../../media/hero-image.jpg' %}" class="d-block w-100 hero-image img-fluid" alt="...">
        <div class="d-none d-md-block position-absolute top-0 end-0 z-3 txt-color-1 w-50 text-end">
          <h5 class="mt-5 me-5 pt-5 uppercase fs-1">Boho Bulbs</h5>
          <p class="mt-4 me-5">Lighting plays a crucial role in interior design, serving as the finishing touch that enhances your living spaces and brings them to life. 
            The Boho Bulbs lighting collection provides a wide variety of lighting options in terms of types, sizes, and finishes, encompassing both contemporary and vintage styles. 
            This ensures that you can discover the perfect fixture to complement your space.</p>
        </div>
      </div>
    </div>
  </div>
  
</section>



{% endblock %}