<script type="text/javascript">

    // code snippet adjusted from Eamonn Smyth's solution on Code Institute Slack channel
    // function to handle disabling buttons below 2 and over 98
    function handleEnableDisable(itemId) {
        const ourQuantity = document.querySelector(`#id_qty_${itemId}`);
        const currentValue = parseInt(ourQuantity.value);
        const plus = ourQuantity.closest('.input-group').querySelector('.increment-qty');
        const minus = querySelectorAll('.decrease-qty');
        if (currentValue < 2) {
            minus.disabled = true;
        }
        else if (currentValue > 98) {
            plus.disabled = true;
        }
        else {
            minus.disabled = false;
            plus.disabled = false;
        }
    }

    // Ensure proper enabling/disabling of all inputs on page load
    const allQtyInputs = document.querySelectorAll('.qty_input');
    allQtyInputs.forEach(input => {
        let itemId = input.getAttribute('data-item_id');
        handleEnableDisable(itemId);

        input.addEventListener('change', function () {
            handleEnableDisable(itemId);
        });
    });

    // Increment Quantity
    const increment = document.querySelectorAll('.increment-qty');
    increment.forEach(button => {
        button.addEventListener("click", function(e) {
        e.preventDefault();
        const closestGroup = this.closest('.input-group');
        let closestInput = closestGroup.querySelector('.qty_input');
        let newValue = parseInt(closestInput.value) + 1;
        closestInput.value = newValue;

        // call the disable button check
        let itemId = this.getAttribute('data-item_id');
        handleEnableDisable(itemId);
        });
    });

    // Decrement Quantity
    const decrement = document.querySelectorAll('.decrement-qty');
    decrement.forEach(button => {
        button.addEventListener("click", function(e){
        e.preventDefault();
        const closestGroup = this.closest('.input-group');
        let closestInput = closestGroup.querySelector('.qty_input');
        let newValue = parseInt(closestInput.value) - 1;
        closestInput.value = newValue;

        // call the disable button check
        let itemId = this.getAttribute('data-item_id');
        handleEnableDisable(itemId);
        });
    });

</script>