/*----------------------------------------------------- Imports */
 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

/*----------------------------------------------------- General */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
}

.uppercase {
    text-transform: uppercase;
}

h5 {
    font-size: 0.9rem
}

h6 {
    font-size: 0.5rem
}

.btn:hover {
    background-color: #000;
}

.toast {
    background-color: rgb(255, 255, 255);
}

.update-link,
.remove-item {
    cursor: pointer;
}

.message-container {
    position: fixed;
    top: 110px;
    right: 30px;
    z-index: 999999999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

strong {
    font-weight: 700;
}

/*----------------------------------------------------- Colors */

.bg-color-1 {
    background-color: #8f967d;
}

.bg-color-2 {
    background-color: #000;
}

.txt-color-1 {
    color: #fff;
}

.txt-color-2 {
    color: #000;
}

.txt-color-3 {
    color: #8f967d;
}

/*----------------------------------------------------- Header Section */

.sales-links a, .brand-section a {
    text-decoration: none;
    color: black;
    letter-spacing: 0.1rem;
    font-weight: 400;
}

.sales-links {
    background-color: #8f967d;
    font-size: 0.9rem;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

a {
    color: #000
}

a:hover {
    color: #8f967d;
}

a.product-label:hover {
    color: #fff;
}

.accordion-button:not(.collapsed) {
    color: black;
    background-color: #8f967d;
    box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 #8f967d;
}

.accordion-button:focus {
    border-color: #8f967d;
    box-shadow: none;
}

.accordion-button:focus-visible {
    outline: #8f967d auto 1px;
}


/*----------------------------------------------------- Product Form Section */

.btn-file {
    position: relative;
    overflow: hidden;
    background-color: #8f967d;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
    
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

@media (max-width: 576px) {
    .custom-toast {
        width: 100%;
        max-width: none;
    }
}