<div class="collapse navbar-collapse justify-content-around" id="navbarSupportedContent">
    <ul class="navbar-nav mb-2 mb-lg-0 ">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              All Products
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'products' %}?sort=price&direction=asc">Price</a></li>
              <li><a class="dropdown-item" href="{% url 'products' %}?sort=lamptype&direction=asc">Category</a></li>
              <li><a class="dropdown-item" href="{% url 'products' %}?sort=brand&direction=asc">Brand</a></li>
              <li><a class="dropdown-item" href="{% url 'products' %}">All Products</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              By Type
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'products' %}?lamptype=ceiling">Ceiling Lamps</a></li>
              <li><a class="dropdown-item" href="{% url 'products' %}?lamptype=wall">Wall Lamps</a></li>
              <li><a class="dropdown-item" href="{% url 'products' %}?lamptype=floor">Floor Lamps</a></li>
              <li><a class="dropdown-item" href="{% url 'products' %}?lamptype=table">Table Lamps</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              By Finish
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'products' %}?colour=bronze,copper,chrome,gold">Metal</a></li>
              <li><a class="dropdown-item" href="{% url 'products' %}?colour=brown">Wooden</a></li>
              <li><a class="dropdown-item" href="{% url 'products' %}?colour=red,black,blue,grey,cream">Coloured</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Special Offers
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">New In</a></li>
              <li><a class="dropdown-item" href="#">Sale</a></li>
              <li><a class="dropdown-item" href="#">All specials</a></li>
            </ul>
          </li>
    </ul>
</div>